
    <!-- FORM START -->
    <div class="yazi">
        <h1> Hizmetlerimiz </h1>
        <p> Buraya bir şeyler yazarık artık </p>
        <P> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</P>
    </div>

    <!-- SLIDESHOW -->

    <div class="container">
        <div class="slide">
            <img src="./resimler/placeholder.png" style="width:100%">
            <div class="kacinci"><pre> 1 / 5   Hizmet 1 </pre></div>
        </div>
        <div class="slide">
            <img src="./resimler/placeholder.png" style="width:100%">
            <div class="kacinci"><pre> 2 / 5   Hizmet 2 </pre></div>
        </div>
        <div class="slide">
            <img src="./resimler/placeholder.png" style="width:100%">
            <div class="kacinci"><pre> 3 / 5   Hizmet 3 </pre></div>
        </div>
        <div class="slide">
            <img src="./resimler/placeholder.png" style="width:100%">
            <div class="kacinci"><pre> 4 / 5   Hizmet 4 </pre></div>
        </div>
        <div class="slide">
            <img src="./resimler/placeholder.png" style="width:100%">
            <div class="kacinci"><pre> 5 / 5   Hizmet 5 </pre></div>
        </div>

        <a class="onceki" onclick="slideArttir(-1)">&#10094;</a>   <!-- &#10094 ve diğeri ok işaretleri oluyorlar-->
        <a class="sonraki" onclick="slideArttir(1)">&#10095;</a>
        <!-- Küçük Resimler-->

        <div class="row kucukler"> 
            <div class="column"> 
              <img class="kucukresim" src="./resimler/placeholder.png" style="width:100%" onclick="SlideSabit(1)" alt="placeholderk">
            </div>
            <div class="column">
              <img class="kucukresim" src="./resimler/placeholder.png" style="width:100%" onclick="SlideSabit(2)" alt="placeholder">
            </div>
            <div class="column">
              <img class="kucukresim" src="./resimler/placeholder.png" style="width:100%" onclick="SlideSabit(3)" alt="placeholder">
            </div>
            <div class="column">
              <img class="kucukresim" src="./resimler/placeholder.png" style="width:100%" onclick="SlideSabit(4)" alt="placeholder">
            </div>
            <div class="column">
              <img class="kucukresim" src="./resimler/placeholder.png" style="width:100%" onclick="SlideSabit(5)" alt="placeholder">
            </div>
        </div>
    </div>
    
    <!--- FORM END ---> 