@{
    ViewData["Title"] = "Home Page";
}



<h1> Güzelliğinize Güzellik Katın </h1>
<h3> İstanbul'un kalbinde, profesyonel ekibimizle sizlere en iyi hizmeti sunmaktan gurur duyuyoruz. 20 yılı aşkın tecrübemiz ve modern tekniklerimizle, hayalinizdeki saçlara kavuşmanız için buradayız.</h3>


<section class="Kadin-Erkek-Sec" >
    <div class="salon-resim sol">
        <a href="/Randevu/Salonlar?salonTur=Kadın" class="image-container">
            <img src="~/images/KadinSalon.jpg" alt="KadinSalonSecim" class="img-fluid">
            <div class="overlay-text">Kadın Kuaförü</div>
        </a>
    </div>
    <div class="salon-resim sag">
        <a href="/Randevu/Salonlar?salonTur=Erkek" class="image-container">
            <img src="~/images/ErkekSalon.png" alt="ErkekSalonSecim" class="img-fluid">
            <div class="overlay-text">Erkek Kuaförü</div>
        </a>
    </div>
</section>