@{
    ViewData["Title"] = "Home Page";
}



<h2> DENEME </h2>
<section class="Kadin-Erkek-Sec" >
    <div class="salon-resim sol">
        <img src="~/images/KadinSalon.jpg" alt="KadinSalonSecim" class="img-fluid">
    </div>
    <div class="salon-resim sag">
        <img src="~/images/ErkekSalon.png" alt="ErkekSalonSecim" class="img-fluid">
    </div>
</section>