
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    overflow-x: hidden; /* aşağıdaki kaydırma barını kaldırma */
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s ease;
}

:root {
    --arkaplan: #212121;
    --onplan: #82ffea;
    --vurgu: #ffb608;
    --aksan: #ffb608;
}

body {
    background-color: var(--arkaplan);
    font-size: larger;
    color: white;
}

.yazi {
    font-size: larger;
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}



/*-----   HEADER   ----- */
.header {
    height: 120px;
    background-color: var(--vurgu);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: sticky;
    top: 0;
    z-index: 99;
}

    .header .navbar {
        margin: 3vh;
        padding: 2rem;
    }

        .header .navbar a {
            color: black;
            margin: 0 15px;
            font-size: large;
            border-bottom: 3px solid transparent;
            border-radius: 15%;
            text-decoration: none;
        }

            .header .navbar .active,
            .header .navbar a:hover {
                border-color: var(--arkaplan);
                padding-bottom: 5px;
                box-shadow: 0px 2px 0px 0px #2e3a5035;
            }

            .header .navbar a:hover {
                opacity: 0.9;
            }

        .header .navbar .dropMenu {
            position: absolute;
            top: 95%;
            right: 0px;
            background-color: var(--vurgu);
            border-radius: 20px;
            height: calc(100vh - 9rem);
            width: 30rem;
        }

    .header .buttons a img:hover {
        opacity: 0.9;
        transform: scale(1.1);
    }

    .header .buttons .menu-button {
        display: none;
    }
/*----    HEADER SON    ----*/

/*------ FOOTER ------*/
.footer {
    display: flex;
    justify-content: center;
    color: #1f2a40;
}

    .footer .filetisim {
        position: relative;
        left: 30%;
    }


footer {
    background-color: var(--vurgu);
    margin: 20px;
    padding: 15px;
}

.footer .iletisim {
    right: 5px;
}


/*----  SLİDER  ----*/
.onceki,
.sonraki {
    cursor: pointer;
    position: relative;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

    .onceki:hover,
    .sonraki:hover {
        background-color: rgba(0, 0, 0, 1);
    }

.slide {
    color: white;
    font-size: 25px;
    display: none;
    align-items: center;
    padding: 10px;
}

.kucukler {
    margin-top: 12px;
}


.kucukresim {
    opacity: 0.75;
}

    .active, .kucukresim:hover {
        opacity: 1;
    }

.resimIsim {
    color: white;
    font-size: 25px;
}
/*----  SLİDER SON  ----*/


/*---- İLETİŞİM ----*/
.Ciletisim {
    background-color: #1f2a40;
    padding: 30px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.iletisim {
    font-size: larger;
    color: white;
    margin: 20px;
    padding: 20px;
}


/*------- İLETİŞİM SON ----*/

/*------ HESAP -------*/
.kullanıcı {
    background-color: #1f2a40;
    font-size: larger;
    color: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 40px;
    width: 360px;
}

.butonlar {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    padding: 7px;
    background-color: #ffb608;
    border-radius: 10px;
}

/* responsiveness için */
/* tablet boyutu */
@media (max-width:991px ) {
    html {
        font-size: 85%;
    }
}


/* mobil boyutu */
@media (max-width:768px ) {
    .header .buttons .menu-button {
        display: inline-block;
    }

    /* Bar menu */
    #menu {
        display: none;
        position: absolute;
        background-color: var(--vurgu);
        border-radius: 20px;
        top: 95%;
        height: 50vh;
        width: 150px;
        right: 20px;
    }

    .header .navbar a {
        display: block;
        margin: 18px;
    }
}

/* Ana Sayfa Salon Secim */
.Kadin-Erkek-Sec {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    display: flex;
}

.salon-resim {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; /* Full width for overlap */
    transition: clip-path 0.5s ease, z-index 0.2s; /* Yumusak gecisler */
}

    .salon-resim img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .salon-resim.sol {
        clip-path: polygon(0 0, 52% 0, 48% 100%, 0 100%);
        z-index: 1; /* Basta sag resmin altinda */
    }

        .salon-resim.sol:hover {
            clip-path: polygon(0 0, 60% 0, 55% 100%, 0 100%);
            box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
            z-index: 3; /* sag resmin ustunde */
        }

    .salon-resim.sag {
        clip-path: polygon(52% 0, 100% 0, 100% 100%, 48% 100%);
        z-index: 2; /* Basta sol resmin ustunde */
    }

        .salon-resim.sag:hover {
            clip-path: polygon(45% 0, 100% 0, 100% 100%, 40% 100%);
            box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
            z-index: 3; /* Sol resmin ustunde */
        }
